@import '../../style/colors.scss';

.skill-card {
  display: block;
  width: 300px;
  max-height: 500px;
  min-height: 310px;

  margin: 0px 20px;
  margin-top: 20px;

  background-color: $primary;
  

  @include desktop {
  }
}