@import '../../style/mixins.scss';

.about {
	display: block;
	padding: 0px 10px;
	padding-bottom: 20px;
	//min-height: 100%;
	width: 100%;

	@include desktop {
		padding: 0px 20px;
		padding-bottom: 20px;
  }
}
