@import '../../style/mixins.scss';
@import '../../style/colors.scss';

.hobbies {
	min-height: 100%;
	width: 100%;

	padding: 0px 10px;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;


	@include desktop {
		padding: 0px 20px;
		padding-bottom: 20px;
		flex-direction: row;
	}

	h2 {
		display: inline-block;
		text-align: left;
		margin: 5px 0px;
		font-size: 27px;
		width: 100%;
	}
	
	& > div {
		display: flex;
		max-height: 500px;
		min-height: 310px;
	
		margin: 0px 0px;
		margin-top: 20px;
	
		background-color: $primary;
	
		padding: 20px;
	
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
	
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

	
		@include desktop {
			margin: 0px 20px;
			margin-top: 20px;
		}
	
		transition: margin .1s ease-in;
	
			
		&:hover{
			@include desktop {
				margin-top: 5px;
			}
		}
	}

	&__small {
		flex: 1;
		min-width: 300px;
		max-width: 350px;

		p {
			font-size: 18px;
			margin: 5px 0px;
		}

	}

	&__large {
		flex: 2;
		min-width: 300px;
		max-width: 800px;
		width: calc(100% - 20px);

		h5{
			font-style: italic;
			margin-top: 0px;
		}
		
		.hobbies-title{
			display: flex;
			flex-direction: row;
			align-items: center;

			svg {
				margin-left: 20px;
				margin-top: 6px;
			}
		}

		overflow: hidden;
	}

	&__interests {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		p:last-child {
			font-style: italic;
			font-size: 16px;
		}
	}

	&__music {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		margin-left: 20px;

		width: max-content;
	}

	&-arrow{
		position: absolute;
		display: flex;
		height: 182px;
		width: 30px;

		cursor: pointer;
		bottom: 29px;

		background-color: red;
		z-index: 20;


		&--left{
			left: 0;
		}
		&--right{
			right: 0;
		}
	}
}
